In [5]:
import os, sys
import pandas as pd
from dotenv import load_dotenv
rpath = os.path.abspath('/home/user/Documents/10/w8/logistic_optimization')

if rpath not in sys.path:
    sys.path.insert(0, rpath)
    
import utils.utils as util

In [7]:
from service.weather_forecast import get_historical_weather

In [9]:
path = rpath + "/data/processed/driver_locations_during_request.csv" 
data = util.load_data(path)

path = rpath + "/data/processed/order.csv" 
order = util.load_data(path)

Data loaded successfully.
Data loaded successfully.

In [10]:
load_dotenv()
api_key = os.getenv("OPEN_WEATHER")

In [22]:
data = data[data['driver_action'] != 'rejected']
data

              id  order_id  driver_id driver_action       lat       lng
0              1    392001     243828      accepted  6.602207  3.270465
10            11    392005     245597      accepted  6.549147  3.392184
61            62    392009     245600      accepted  6.644829  3.289328
128          129    392013     243892      accepted  6.435331  3.424317
141          142    392014     243781      accepted  6.498221  3.360042
...          ...       ...        ...           ...       ...       ...
1557594  1557595    489898     246615      accepted  6.443810  3.464208
1557614  1557615    490008     247877      accepted  6.448554  3.574380
1557670  1557671    497721     243414      accepted  6.498164  3.359964
1557673  1557674    510268     243532      accepted  6.462251  3.391023
1557677  1557678    517948     245874      accepted  6.464150  3.552330

[25903 rows x 6 columns]

In [24]:
 

merged_df = pd.merge(order, data, left_on='Trip ID', right_on='order_id', how='inner')

In [26]:
merged_df

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,Holiday,Weekday,id,order_id,driver_id,driver_action,lat,lng
0,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,False,True,1,392001,243828,accepted,6.602207,3.270465
1,392005,"6.565087699999999,3.3844415","6.499696300000001,3.3509075",2021-07-01 10:53:36,2021-07-01 11:27:51,False,True,11,392005,245597,accepted,6.549147,3.392184
2,392009,"6.6636484,3.3082058","6.6185421,3.301634",2021-07-01 06:39:51,2021-07-01 07:41:12,False,True,62,392009,245600,accepted,6.644829,3.289328
3,392013,"6.4308171,3.4341552","6.435460000000001,3.4846547",2021-07-01 08:44:09,2021-07-01 09:19:11,False,True,129,392013,243892,accepted,6.435331,3.424317
4,392014,"6.499156300000001,3.3585173","6.4280911,3.5157172",2021-07-01 06:43:07,2021-07-01 07:27:24,False,True,142,392014,243781,accepted,6.498221,3.360042
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25898,489898,"6.442073199999999,3.4788716","6.439366,3.5020578",2022-02-04 17:09:00,2022-02-04 17:51:19,False,True,1557595,489898,246615,accepted,6.443810,3.464208
25899,490008,"6.4461993,3.5497557","6.475137000000001,3.5644741",2022-02-27 09:07:59,2022-02-27 09:17:41,False,False,1557615,490008,247877,accepted,6.448554,3.574380
25900,497721,"6.482082176631842,3.3828646009695547","6.4632478,3.6239759",2021-09-04 14:30:57,2021-09-04 15:18:38,False,False,1557671,497721,243414,accepted,6.498164,3.359964
25901,510268,"6.4494186,3.4016453","6.6070099,3.3501947",2022-01-21 11:05:47,2022-01-21 12:12:39,False,True,1557674,510268,243532,accepted,6.462251,3.391023
25902,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,False,True,1557678,517948,245874,accepted,6.464150,3.552330

In [28]:
merged_df = merged_df.drop(columns=['driver_action','id','order_id'])

In [30]:
merged_df

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,Holiday,Weekday,driver_id,lat,lng
0,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,False,True,243828,6.602207,3.270465
1,392005,"6.565087699999999,3.3844415","6.499696300000001,3.3509075",2021-07-01 10:53:36,2021-07-01 11:27:51,False,True,245597,6.549147,3.392184
2,392009,"6.6636484,3.3082058","6.6185421,3.301634",2021-07-01 06:39:51,2021-07-01 07:41:12,False,True,245600,6.644829,3.289328
3,392013,"6.4308171,3.4341552","6.435460000000001,3.4846547",2021-07-01 08:44:09,2021-07-01 09:19:11,False,True,243892,6.435331,3.424317
4,392014,"6.499156300000001,3.3585173","6.4280911,3.5157172",2021-07-01 06:43:07,2021-07-01 07:27:24,False,True,243781,6.498221,3.360042
...,...,...,...,...,...,...,...,...,...,...
25898,489898,"6.442073199999999,3.4788716","6.439366,3.5020578",2022-02-04 17:09:00,2022-02-04 17:51:19,False,True,246615,6.443810,3.464208
25899,490008,"6.4461993,3.5497557","6.475137000000001,3.5644741",2022-02-27 09:07:59,2022-02-27 09:17:41,False,False,247877,6.448554,3.574380
25900,497721,"6.482082176631842,3.3828646009695547","6.4632478,3.6239759",2021-09-04 14:30:57,2021-09-04 15:18:38,False,False,243414,6.498164,3.359964
25901,510268,"6.4494186,3.4016453","6.6070099,3.3501947",2022-01-21 11:05:47,2022-01-21 12:12:39,False,True,243532,6.462251,3.391023
25902,517948,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",2021-09-10 11:47:26,2021-09-10 13:30:13,False,True,245874,6.464150,3.552330

In [33]:
path = rpath + "/data/processed/final.csv"
util.save_to_csv(merged_df, path)

Data saved to /home/user/Documents/10/w8/logistic_optimization/data/processed/final.csv

'/home/user/Documents/10/w8/logistic_optimization/data/processed/final.csv'